[submodule "source-sans-pro"]
	path = source-sans-pro
	url = https://github.com/adobe-fonts/source-sans-pro
[submodule "Sarabun"]
	path = Sarabun
	url = https://github.com/cadsondemak/Sarabun.git
[submodule "mplus-fonts"]
	path = mplus-fonts
	url = https://github.com/rayshan/mplus-fonts.git
[submodule "msdfgen"]
	path = msdfgen
	url = https://github.com/wutipong/msdfgen.git
